<!doctype html>
<html lang="en" ng-app="sciwApp">
<head>
    <meta charset="utf-8">
    <title>Cryptocoin watcher</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">

    <meta name="description" content="Simple cryptocoin investments watcher">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="libraries/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libraries/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="app/app.css">

    <link rel="shortcut icon" href="favicon.ico">
</head>
<body class="dark">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Simple cryptocoin investments watcher</a>

        <div class="extra-buttons">
            <button type="button" class="btn btn-sm pull-right" ng-class="{'fa-spin': realoadingRates}" ng-click="reloadRates($event)"><i class="fa fa-refresh fa-lg"></i></button>

            <div class="btn-group btn-group-sm">
                <button type="button" class="btn" ng-class="{'active': finalCurrency === 'BTC'}" ng-click="changeCurrency('BTC', $event)"><i class="fa fa-bitcoin fa-lg"></i></button>
                <button type="button" class="btn" ng-class="{'active': finalCurrency === 'EUR'}" ng-click="changeCurrency('EUR', $event)"><i class="fa fa-euro fa-lg"></i></button>
                <button type="button" class="btn" ng-class="{'active': finalCurrency === 'USD'}" ng-click="changeCurrency('USD', $event)"><i class="fa fa-usd fa-lg"></i></button>
            </div>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 exchange-list">
            <span class="label e{{ $index }}" ng-repeat="exchange in uniqueExchangeList">{{ exchange }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 coinblock" ng-repeat="(coinCode, coinData) in items">
            <div class="row content">
                <div class="col-xs-12">
                    <h4>{{ coinCode }}
                        <br>
                        <span class="price-block">
                        <span class="label label-default" ng-repeat="priceCode in displayCodes"><i class="fa fa-{{ priceCode | lowercase }}"></i> {{ exchangeRates[coinCode][priceCode] | number : 8 }}</span>
                    </span>
                    </h4>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th class="text-right">Amount</th>
                            <th class="text-right">Price</th>
                            <th class="text-center">Currency</th>
                            <th class="text-right">Value</th>
                            <th class="text-right">Profit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="trade in coinData.trades">
                            <td class="exchange-indicator e{{ uniqueExchangeListByName[trade.exchange] }}" title="{{ trade.exchange }}"><button type="button" class="btn btn-link btn-xs"><i class="fa fa-remove"></i></button></td>
                            <td class="text-right">{{ trade.amount }}</td>
                            <td class="text-right">{{ trade.price | number : 8 }}</td>
                            <td class="text-center">{{ trade.currency }}</td>
                            <td class="text-right"><span class="text-muted">{{ trade.$$tradeValue.old[finalCurrency] | number : finalCurrencyPrecision }} <i class="fa fa-long-arrow-right"></i> {{ trade.$$tradeValue.current[finalCurrency] | number : finalCurrencyPrecision }} <i class="fa" ng-class="{'fa-euro': finalCurrency === 'EUR', 'fa-bitcoin': finalCurrency === 'BTC', 'fa-usd': finalCurrency === 'USD'}"></i></span></td>
                            <td class="profit text-right" ng-class="[coinData.$$currentPrice[trade.currency] / trade.price - 1 > 0 ? 'text-success' : 'text-danger']">{{ (coinData.$$currentPrice[trade.currency] / trade.price * 100 - 100 | number : 1) + '%' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="libraries/jquery/dist/jquery.min.js"></script>
<script src="libraries/angular/angular.min.js"></script>
<script src="libraries/angular-touch/angular-touch.min.js"></script>
<script src="libraries/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="app/app.js"></script>

</body>
</html>