h4 .price-block {
  font-size: 0.8em;
}
h4 .price-block .label {
  font-weight: normal;
  margin-right: 2px;
  border-radius: 0;
  background: #DDD;
  color: black;
}
body {
  padding-top: 60px;
  padding-left: 5px;
  padding-right: 5px;
}
body.dark {
  background: #333;
}
.navbar {
  border-radius: 0;
}
body.dark .navbar {
  background: black;
  color: white;
  border: 0;
}
body.dark .navbar .navbar-brand {
  color: #c8c8c8;
}
.navbar .extra-buttons {
  float: right;
  display: inline-block;
  padding-top: 10px;
}
.navbar .extra-buttons > .btn {
  margin-left: 5px;
}
.navbar .extra-buttons .btn,
.navbar .extra-buttons .btn:focus {
  background: #999;
  border-color: #666;
  color: #EEE;
  outline: none;
}
.navbar .extra-buttons .btn:hover {
  background: #AAA;
  color: #FFF;
}
.navbar .extra-buttons .btn.active {
  color: #000;
  background: #FFF;
}
.coinblock {
  width: 380px;
  margin: 5px;
  background: white;
}
.coinblock .content {
  padding: 0 10px;
  border: 1px solid #EEE;
}
body.dark .coinblock {
  border: 0;
}
.coinblock table thead tr th {
  font-size: 0.75em;
  font-weight: normal;
  border-bottom: 1px;
  padding: 2px 2px;
  color: #999;
}
.coinblock table tbody td {
  font-size: 0.8em;
  padding: 2px 2px;
  line-height: 25px;
  border-bottom: 1px solid #EEE;
}
.coinblock table tbody td.profit {
  font-weight: bold;
}
.exchange-list {
  margin: 0 -10px 10px -10px;
}
.exchange-list .label {
  background: #AAA;
  margin-right: 3px;
}
.exchange-list .label.e0 {
  background: #8BA695;
}
.exchange-list .label.e1 {
  background: #A69D86;
}
.exchange-list .label.e2 {
  background: #998BA6;
}
.exchange-list .label.e3 {
  background: #82A1A6;
}
.exchange-list .label.e4 {
  background: #A69288;
}
.exchange-indicator {
  border-left: 5px solid #AAA;
}
.exchange-indicator.e0 {
  border-left-color: #6BA68B;
}
.exchange-indicator.e1 {
  border-left-color: #A69D68;
}
.exchange-indicator.e2 {
  border-left-color: #8C6CA6;
}
.exchange-indicator.e3 {
  border-left-color: #56A3A6;
}
.exchange-indicator.e4 {
  border-left-color: #A67C61;
}
.text-success {
  color: #4CAE4C;
}
.text-danger {
  color: #C9302C;
}
.btn-link {
  color: #999;
}
div[masonry] {
  margin: 0 auto;
}
