h4 .price-block {
    font-size: 0.8em;

    .label {
        font-weight: normal;
        margin-right: 2px;
        border-radius: 0;
        background: #DDD;
        color: black;
    }
}


body {

    padding-top: 60px;
    padding-left: 5px;
    padding-right: 5px;

    &.dark {
        background: #333;
    }

}


.navbar {
    border-radius: 0;

    body.dark & {
        background: black;
        color: white;
        border: 0;

        .navbar-brand {
            color: rgb(200, 200, 200);
        }
    }

    .extra-buttons {
        float: right;
        display: inline-block;
        padding-top: 10px;

        > .btn {
            margin-left: 5px;
        }

        .btn {

            &, &:focus {
                background: #999;
                border-color: #666;
                color: #EEE;
                outline: none;
            }

            &:hover {
                background: #AAA;
                color: #FFF;
            }

            &.active {
                color: #000;
                background: #FFF;
            }
        }

    }
}


.coinblock {
    .row.content {
        border: 1px solid #EEE;
        border-radius: 0 10px;
        margin-left: -10px;
        margin-right: -10px;
    }


    table thead tr th {
        font-size: 0.75em;
        font-weight: normal;
        border-bottom: 1px;
        padding: 2px 2px;
        color: #999;
    }

    table tbody td {
        font-size: 0.8em;
        padding: 2px 2px;
        line-height: 25px;
        border-bottom: 1px solid #EEE;

        &.profit {
            font-weight: bold;
        }
    }


    body.dark & {
        border: 0;

        .row.content {
            background: white;
        }
    }

}

@color0: #8BA695;
@color1: #A69D86;
@color2: #998BA6;
@color3: #82A1A6;
@color4: #A69288;


.exchange-list {
    margin: 0 -10px 10px -10px;

    .label {
        background: #AAA;
        margin-right: 3px;

        &.e0 { background: @color0; }
        &.e1 { background: @color1; }
        &.e2 { background: @color2; }
        &.e3 { background: @color3; }
        &.e4 { background: @color4; }
    }
}


.exchange-indicator {
    border-left: 5px solid #AAA;

    &.e0 { border-left-color: #6BA68B; }
    &.e1 { border-left-color: #A69D68; }
    &.e2 { border-left-color: #8C6CA6; }
    &.e3 { border-left-color: #56A3A6; }
    &.e4 { border-left-color: #A67C61; }
}




.text-success {
    color: #4CAE4C;
}

.text-danger {
    color: #C9302C;
}



.btn-link {
    color: #999;
}


